.column-block {
    display: table-cell;
}
.media-router .media-menu-item {
    color: #333;
    border-radius: initial;
}
.media-modal-close:hover {
    background: #CCC;
}
.wp-media-buttons a.button {
    color: #333;
}