.page-template-page-sections-flex-home main section.row.believe-intro {
  font-size: 1em;
  padding-top: 200px;
  background: #1b2e40;
  background-size: cover;

  h1 {
    font-size: 3rem;
    max-width: 807px;
    margin-bottom: 1em;
    font-family: Adobe Garamond Pro, Garamond, serif;
    font-weight: 400;
  }

  h2 {
    font-size: 1.75rem;
  }
}

.page-template-page-sections-flex-home main section.row.believe-better-way {
  font-size: 2rem;
  padding: 0;
  p {
    margin: 0;
  }
}

.page-template-page-sections-flex-home main section.row.salient-solution {
  h2.section-title {
    margin-bottom: 0;
  }
  h3 {
    margin-top: .5em;
    margin-bottom: 0;
    font-size: 1.2em;

    &:first-child {
      margin-top: 1em;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.2em;
  }
}


body #content .boxed .boxed {
  padding: 2em;
  border-radius: 1em;
  background-color: rgba(3,3,3,.5);
}

#content .boxed .boxed > *:first-child {
  margin-top: 0;
}
#content .boxed .boxed > *:last-child {
  margin-bottom: 0;
}
.page-template-page-sections-flex-home main section.row.radical-believe-intro {
  font-size: 1em;
  padding-top: 200px;
  background: #1b2e40;
  background-size: cover;

  h1 {
    font-size: 2.3rem;
    max-width: 807px;
    margin-bottom: 1em;
    font-family: Adobe Garamond Pro, Garamond, serif;
    font-weight: 400;

    @include media(min-width 350px) {
      font-size: 3rem;
      line-height: 1;
      margin-bottom: .5em;
    }
  }

  p {
    max-width: 807px;
    margin-left: 0;
  }

  h2 {
    font-size: 1.75rem;
  }
}
.page-template-page-sections-flex-home main section.row.radical-managers-see {
  font-size: 1.1em;
  padding-bottom: 5em;
  ul li {
    font-size: .8em;
  }
}
.page-template-page-sections-flex-home main section.row.radical-wondering-how {
  padding-bottom: 19em;

  &.second-part {
    padding-bottom: 15em;
  }
}
.page-template-page-sections-flex-home main section.row.radical-believe-better-way {
  font-size: 1.2rem;
  padding: 0;
  @include media(min-width 370px) {
    font-size: 2rem;
  }
  p {
    margin: 0;
  }
}

.page-template-page-sections-flex-home main section.row.radical-salient-solution {
  h2.section-title {
    margin-bottom: 0;
  }
  h3 {
    margin-top: .5em;
    margin-bottom: 0;
    font-size: 1.2em;

    &:first-child {
      margin-top: 1em;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.2em;

    @media screen and (max-width: $max-width) {
      font-size: 1em;
    }
  }
  &>div>div:first-child {
    @media screen and (max-width: $max-width) {
      padding-right: 1em;
    }
  }
}


body #content .boxed .boxed {
  padding: 2em;
  border-radius: 1em;
  background-color: rgba(3,3,3,.7);
}

#content .boxed .boxed > *:first-child {
  margin-top: 0;
}
#content .boxed .boxed > *:last-child {
  margin-bottom: 0;
}
section.row.radical-wondering-how.light-text.boxed ul li {
  font-size: 1.2em;
  margin-top: .5em;
}
section.row.radical-most-deployable-practice.light-text h3 {
  margin-top: 0;
  font-weight: 400;
  font-size: 1.3em;
  margin-bottom: 1em;
}
section.row.radical-most-deployable-practice {
  margin-bottom: 0;
  padding: 0;
}

section.row.radical-most-deployable-practice.light-text p {
  font-size: 1.1em;
}
.page-template-page-sections-flex-home main section.row.radical-deployable-results {
  margin-bottom: 0;
  padding-bottom: 0;
}
#deployable-testimonials-slider {
  padding-top: 0;
  margin-top: 0;
  background: #004280;
}


.page-template-page-sections-flex-home main section.row.june-ab-changing-nature {
  font-size: 1.51rem;
  padding-top: 7em;
  padding-bottom: 5em;
  h1 {
    margin-top: 1em;
  }
  p {
    max-width: 766px;
    margin-left: 0;
  }
}

.page-template-page-sections-flex-home main section.row.june-ab-beaten-latency {
  font-size: 1.5rem;
  padding-bottom: 2em;
  padding-top: 2em;
}

.page-template-page-sections-flex-home main section.row {
  &.june-ab-changing-nature,
  &.june-ab-beaten-latency,
  &.june-ab-biggest-problem,
  &.june-ab-what-happens,
   {
    font-size: 1.51rem;

    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1.55rem;
    }
  }
}
.page-template-page-sections-flex-home main section.row {
  &.ab-july-18-information-is,
  &.ab-july-18-information-traditional-bi,
  &.ab-july-18-information-barriers,
  &.ab-july-18-information-ordinary,
   {
    font-size: 1.51rem;
    }
    h1{
      font-family: Adobe Garamond Pro, Garamond, serif;
    }
    h2 {
      font-size: 2.5rem;
      margin-top: 0px;
      font-weight: 200;
    }
    h3 {
      font-size: 2rem;
      margin-top: 0px;
    }
    p {
      font-size: 1.55rem;
    }
  }


section.row.ab-july-18-information-barrers.light-text.boxed {
    padding-bottom: 2em;
}

section.row.ab-july-18-information-is.light-text.boxed {
    padding-top: 9em;
    @include media(max-width 1006px) {
      font-size: 1.5rem;
    }
}
#content .ab-july-18-information-is.boxed .boxed:after {
background: none;
}
#content .ab-july-18-information-barriers.boxed .boxed:after {
background: none;
}
