.page-template-page-sections-flex-home main section.row.believe-intro {
  font-size: 1em;
  padding-top: 200px;
  background: #1b2e40;
  background-size: cover;

  h1 {
    font-size: 3rem;
    max-width: 650px;
    margin-bottom: 1em;
    font-family: Adobe Garamond Pro, Garamond, serif;
    font-weight: 400;
  }

  h2 {
    font-size: 1.75rem;
  }
}

.page-template-page-sections-flex-home main section.row.managers-see {
  padding-bottom: 9em;
  font-size: 1.25em;
  background-position: 50% 69%;

  h3 {
    margin-top: 0;
  }

  .support-point {
    font-size: .8em;
    max-width: 411px;
  }
}

.page-template-page-sections-flex-home main section.row.managers-see-r1 {
  padding-bottom: 9em;
  font-size: 1.3em;
  background-position: 50% 35%;

  h3 {
    margin-top: 0;
  }
}

.page-template-page-sections-flex-home main section.row.wondering-how {
  h3 {
    margin-top: .5em;
  }
}

.page-template-page-sections-flex-home main section.row.second-part {
  font-size: 1.35em;
  padding-bottom: 10em;
}

.serif {
  font-family: Adobe Garamond Pro, Garamond, serif;
}
.page-template-page-sections-flex-home main section.row .light-weight {
  font-weight: 400;
}

body #content .boxed .boxed {
  padding: 2em;
  border-radius: 1em;
  background-color: rgba(3,3,3,.5);
}

#content .boxed .boxed > *:first-child {
  margin-top: 0;
}
#content .boxed .boxed > *:last-child {
  margin-bottom: 0;
}