.page.page-template-page-landing-page,
.single-event {
  header {
    &#masthead {
      position: relative;
      @include media(min-width $second-breakpoint-value) {
        position: absolute;
      }
    }
    &.entry-header {
      text-align: left;
      background: none;
      padding: 135px 0 14px;
      &:before {
        background-image: none;
      }
      @include media($small-screen) {
        padding: 2em 1em;
        h1 {
          font-size: 2em;
          font-weight: 400;
          margin-bottom: 0;
        }
      }
    }
    &.has-sub-headline h1 {
      margin-top: 0;
    }
    h2.sub-headline {
      font-weight: 700;
      font-size: 1.125em;
      margin-bottom: 0;
    }
  }
  section.landing-page-hero {
    background-color: $light-blue;
    background-size: cover;
    background-position: center center;
  }
  .entry-content {
    @include two-thirds-nom;
    @include shift(0);
    margin-top: 0;
    margin-bottom: 2em;
    background: rgba(0, 66, 128, 0.92);
    color: $white;
    padding: 1em;
    border: none;
    @include media(min-width $first-breakpoint-value) {
      padding: 2em 3em;
    }
    

    a:hover {
      text-decoration: underline;
    }
    img.alignright {
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.41);
      border: 1px solid rgba(255, 255, 255, .4);
      @include media($small-screen) {
        width: 100%;
        float: none;
        margin: 0 auto;
      }
    }
  }
  section.row {
    &.boxed .boxed {
      padding: 1em 2em;

      h3 {
        margin: 0;
      }
    }
    ul {
      margin-left: 1em;
      margin-bottom: 1em;
      li {
        list-style: disc;
        margin-bottom: .5em;
        li {
          list-style: none;
          &:before {
            content: "–";
          }
        }
      }
    }
  }
}

.form-block {
  @include one-third-nom;
  background: $blue;
  color: $white;
  padding: 2em;
  input:not([type=submit]) {
    color: $base-font-color;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 0;
  }
  .gform_wrapper {
    margin: 0;
    .gform_footer {
      padding: 1em 0 0;
      input {
        width: 100%;

      }
    }
  }
}


