#ms- {
  &support {
    background-position: 50% 79%;
    .wrap {
      padding: 1em 0 5em;
    }
}
  &managed-services {
    background-position: 50% 84%;
    .wrap {
      padding: 1em 0 3em;
    }
  }
  &hosting {
    .wrap {
      padding: 1em 0 3em;
    }
  }
  &administration {
    background-position: 50% 84%;
    .wrap {
      padding: 1em 0 3em;
    }
  }
}