#pm- {
  &identify, &discover, &transparency {  
    h3 {
      float: right;
      font-size: 2em;
      font-weight: 400;
      margin: 2em 0;
      width: 80%;
    }
  }
  &monitor, &align {
    h3 {
      font-size: 2em;
      font-weight: 400;
      margin: 2em 0;
    }    
  }
  &monitor {
    .sub-section0 {
      width: 50%;
    }
  }
  &transparency {
    background-position: 29% 41%;
  }
}