#pm- {
  &identify, &transparency {  

  }
  &identify {
    background-position: 50% 50%;
    .sub-section0 {
      @include media(min-width $nav-breakpoint-value) { 
        margin-top: 5em; 
      }
    }
  }
  &monitor, &discover, &align {

  }

  &transparency {
    background-position: 29% 41%;
  }
  
  &align {
    background-position: 50% 33%;
    
    .wrap {
      padding-top: 15em;
      padding-bottom: 0em;
      text-align: right;
    }
  }
  &transparency {
    background-position: 50% 15%;
    .wrap {
      padding-bottom: 20em;
    }
    .sub-section0 {
      float: left;
    }
  }
}
