#pi- {
  &entire-picture {
    background-position: 50% 24%;
    
    .wrap {

    }
    img {
      border: 4px solid #004280;
    }
    .sub-section1 {
      @include media(min-width $second-breakpoint-value) {
        margin-top: 4em;
      }
    }
  }
  &empower {
    background-position: 50% 63%;
  }
  &identify {
    background-position: 50% 26%;
    
    .wrap {
      padding: 2em 0 20em;
    }
  }
  &reduce-cycle {
    background-position: 50% 50%;
  }
  &enhance {
    background-position: 50% 32%;
    
    .wrap {
      padding: 3em 0 21em;
    }
  }
}