.page-template-page-sections-flex-home {
  main section {
    &:first-child {
      padding-top: 8em;
      font-size: 1em;
      background-position: 50% 10%;

      h2 {
        font-size: 1.2em;
      }
      h3 {
        font-size: .7em;
        font-weight: 400;
      }
    }
    &:nth-child(2) {
      h2 {
        font-size: 1.2em;
      }
      h3 {
        font-size: 1em;
        margin-top: 3em;
      }
      > div > div:first-child {
        padding-right: 2em;
      }
      > div > div:nth-child(2) {
        margin-top: -2em;
      }
    }
    &:nth-child(3) {
      padding-bottom: 5em;
      h3 {
        font-size: 2em;
      }
      p {
        font-size: 1.25em;
      }
      > div > div:first-child {
        padding-right: 3em;
      }
    }
    &:nth-child(4) {
      h3 {
         font-size: 1.5em;
      }
    }
    &:nth-child(5) {
      padding-bottom: 10em;
      background-position: 50% 65%;
      h3 {
        font-size: 1.5em;
      }
      p {
        font-size: 1.25em;
      }
    }
    &:nth-child(6) {
      h3 {
        font-size: 1.5em;
      }
      p {
        font-size: 1.25em;
      }
    }
  }
}
