#hh- {
  &implement {
    .wrap {
      padding: 11em 0 3em;
    }
  }
  &doh {
    background-position: 50% 39%;
    .wrap {
      padding: 1em 0 5em;
    }
  }
  &monitor {
    background-position: 50% 50%;
    
    .wrap {
      padding: 10em 0 14em;
    }
  }
  &detect {
    background-position: 50% 50%;
    
    .wrap {
      padding: 2em 0 5em;
    }
  }
  &segment {
    background-position: 50% 50%;
    
    .wrap {
      padding: 10em 0;
    }
  }
}