#pm- {
  &identify, &transparency {  
    h3 {
      font-size: 2em;
      font-weight: 400;
      width: 80%;
    }
  }
  &monitor, &discover, &align {
    h3 {
      font-size: 2em;
      font-weight: 400;
      margin: 2em 0;
    }    
  }

  &transparency {
    background-position: 29% 41%;
  }
  
  &align {
    background-position: 50% 33%;
    
    .wrap {
      padding-top: 15em;
      padding-bottom: 0em;
      text-align: right;
    }
  }
  &transparency {
    background-position: 50% 15%;
    .wrap {
      padding-bottom: 20em;
    }
  }
}
