section.row.cards {
  .wrap {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    background: darken($base-background-color, 70);
    border: 1px solid darken($base-background-color, 30);
    color: $base-color-light;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba($dark-gray, .9);
    transition: 500ms;
    padding: 0;
    
    display: flex;
    
    @include media(max-width $nav-breakpoint-value) {
      margin: .5em 0;
    }
    @include media(min-width $first-breakpoint-value) {
      font-size: .75em;
    }
    &:hover {
      box-shadow: 0 0 34px rgba(51, 51, 51, 0.3);
    }
    div.card-thumb {
      display: block;
      width: 100%;
      
    }
    img {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      width: 100%;
    }

    .card-content {
      padding: 0 1em 1em;
      min-height: 180px;

      @include media($xl-screen) {
        padding: 0 2em 1em;
      }

      h3 {
        font-size: 2em;
      }
      a.button {
        font-size: 1.2em;
        margin: 1em 0;
        color: $white;

        &:visited, &:hover, &:link, &:active {
            color: $white;
        }
      }
    }
  }
  &.cols-four .card {
    min-height: 425px;

    h3 {
      font-size: 1.5em;
    }
  }
}