@media print {
	body {
	  color: black;
	  background: none;
	  font-size: 16px;
	}
	header#masthead {
		background: none;
		box-shadow: none;
		&:before, &:after {
			content: none;
		}
		.site-title a {
			background-color: #000;
			padding: 2em;
		}
	}
	#site-navigation {
		display: none;
	}
	main#main {
		header.entry-header {
			background: none;
			color: #000;
		}
		.hero #breadcrumbs a {
			color: #000;
		}
		.entry-content {
			margin: 0;
			padding: 0;
			border: none;
			max-width: 6in;
			margin: 0 auto;
		}
	}
	footer#colophon {
		display: none;
	}
	.entry-content p a:not(.btn):not(.button):not([class*="slide"]):not(.salient-tab-label), .entry-content li:not(.menu-item) a:not(.btn):not(.button):not([class*="slide"]):not(.salient-tab-label):not(.wp-block-button__link):not(.salient-button ) {
		text-decoration: underline solid;
	}
  }