.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.dashboard > div {
  position: relative;
  float: left;
  padding: 5px;
}

.dashboard > div img {
  display: flex;
  width: 200px;
  transition: 0.1s transform;
  transform: translateZ(0);
  /* hack */
}

.dashboard > div:hover {
  z-index: 1;
}

.dashboard > div:hover img {
  transform: scale(1.25);
  transition: 0.3s transform;
}

.cf {
  padding: 150px;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-left: 0;
}

.dashboard.cf {
  width: 110%;
  height: 450px;
}
