<div class="hero {{ modifier }}" id="hero" style="background-image:url('{{ img.landscape-16x9.src }}');">
	<div class="wrap">
		<div class="block block-hero {{ attributeClasses }}">

				<div class="text-block ">
					<h2 class="b-title">{{ headline.medium }}</h2>
					<p class="subhead">{{ subhead.medium }}</p>
					<a class="btn cta">{{ cta.short }}</a>
				</div>
				<!--.text-block-->
			
		</div>
	</div>
	<!--.wrap-->
</div>
<!--.hero-->