<section class="row {{ layout }}" style="background-image:url('{{ backgroundImage }}'); background-color: {{ backgroundColor }};">

	<div class="wrap">
		<h2 class="section-title">{{ headline.short }}</h2>

		<div class="sub-section0">
			{{> atoms-paragraph }}
		</div>
		<!--.sub-section0-->

		<div class="sub-section1">
			{{> atoms-landscape}} {{> atoms-paragraph }}
		</div>
		<!--.sub-section1-->

	</div>
	<!--.wrap-->

</section>