<span class="posted-on"><span class="screen-reader-text">Posted on </span>
<a href="{{ url }}" rel="bookmark">
  <time class="entry-date published" datetime="2014-10-28T20:37:21+00:00">October 28, 2014</time>
  <time class="updated" datetime="2015-07-27T21:21:46+00:00">July 27, 2015</time>
</a>
</span><span class="byline"><span class="author vcard"><span class="screen-reader-text">Author </span><a class="url fn n" href="{{ url }}">Takashi Irie</a></span>
</span><span class="cat-links"><span class="screen-reader-text">Categories </span><a href="{{ url }}" rel="category tag">Uncategorized</a></span>