button,
input[type="submit"], a.btn, a.button {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  color: $white;
  position: relative;
  text-align: center;
  @include media(min-width $second-breakpoint-value) {
    white-space: nowrap;
  }
  &:visited, &:hover, &:link, &:active {
    color: $white;
  }
}

.button-row {
  padding: 1em 0;
  @include fill-parent;
  @include clearfix;
}