<nav id="nav" class="nav">
	<ul class="nav-list">
		<li><a href="{{ url }}">Solutions</a>
          <ul class="sub-menu">
            <li><a href="{{ url }}">Industries</a>
              <ul class="sub-menu">
                <li><a href="{{ url }}">CPG/DSD</a></li>
                <li><a href="{{ url }}">Retail</a></li>
                <li><a href="{{ url }}">Sports</a></li>
                <li><a href="{{ url }}">Healthcare</a></li>
                <li><a href="{{ url }}">Education</a></li>
              </ul>
            </li>
            <li><a href="{{ url }}">Functions</a>
              <ul class="sub-menu">
                <li><a href="{{ url }}">Sales</a></li>
                <li><a href="{{ url }}">Inventory</a></li>
                <li><a href="{{ url }}">HR</a></li>
                
                <li><a href="{{ url }}">MRO &amp; Asset Management</a></li>
                <li><a href="{{ url }}">Retail Link</a></li>
              </ul>
            </li>
          </ul>
        </li>
		<li><a href="{{ url }}">About</a></li>
		<li><a href="{{ url }}">Blog</a></li>
		<li><a href="{{ url }}">Contact</a></li>
	</ul>
</nav><!--end .nav-->
