<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #004280;"></span>
		<span class="sg-label">$blue: #004280;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0077e6;"></span>
		<span class="sg-label">$light-blue:#0077e6;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333;"></span>
		<span class="sg-label">$dark-gray: #333;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #999;"></span>
		<span class="sg-label">$medium-gray: #999;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E9EBED;"></span>
		<span class="sg-label">$light-gray: #E9EBED;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">$white: #FFF;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F37706;"></span>
		<span class="sg-label">$orange: #F37706;</span>
	</li>
</ul>