
<h3>Primary</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #004280;"></span>
		<span class="sg-label">$blue: #004280;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0077e6;"></span>
		<span class="sg-label">$light-blue:#0077e6;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F37706;"></span>
		<span class="sg-label">$orange: #F37706;</span>
	</li>
</ul>
<h3>Secondary</h3>
<ul class="sg-colors">	
	<li>
		<span class="sg-swatch" style="background: #DF6631;"></span>
		<span class="sg-label">$dark-orange: #DF6631;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E88939;"></span>
		<span class="sg-label">$light-orange: #E88939;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0396AD;"></span>
		<span class="sg-label">$teal: #0396AD;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D26094;"></span>
		<span class="sg-label">$pink: #D26094;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5B24B5;"></span>
		<span class="sg-label">$purple: #5B24B5;</span>
	</li>
</ul>
<h3>Grays</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #333;"></span>
		<span class="sg-label">$dark-gray: #333;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #999;"></span>
		<span class="sg-label">$medium-gray: #999;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E9EBED;"></span>
		<span class="sg-label">$light-gray: #E9EBED;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">$white: #FFF;</span>
	</li>
</ul>