<p>Primary font:$base-font-family: "Trade Gothic W01", Arial, sans-serif;</p>
<p><em>Primary font italic: $base-font-family: "Trade Gothic W01", Arial, sans-serif;</em></p>
<p><strong>Primary font bold:$base-font-family: "Trade Gothic W01", Arial, sans-serif;</strong></p>
<p class="font-secondary">Secondary font: Adobe Garamond Pro, Garamond, serif;</p>
<p class="font-secondary"><em>Secondary font italic: Adobe Garamond Pro, Garamond, serif;</em></p>
<p class="font-secondary"><strong>Secondary font bold: Adobe Garamond Pro, Garamond, serif;</strong></p>