a {
	color: $base-link-color;
	word-break: break-word;

	&:visited {
		color: $base-link-color;
	}
	&:hover,
	&:focus,
	&:active {
		color: $hover-link-color;
	}
}
p a:focus {
  outline: none;
  background-color: lighten($hover-link-color, 30);
}
.entry-content p a:not(.btn):not(.button):not([class*="slide"]):not(.salient-tab-label), .entry-content li:not(.menu-item) a:not(.btn):not(.button):not([class*="slide"]):not(.salient-tab-label) {
	position: relative;
	background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-repeat: repeat-x;
  background-position: bottom 0.05em center;
  background-size: 100% 0.05em;

	&:hover {
		background-image: linear-gradient(to right, $hover-link-color, $hover-link-color 100%);
	  background-size: 100% 0.1em;
	}
}
