a {
	color: inherit;
	word-break: break-word;

	&:visited {
		color: $base-link-color;
	}
	&:hover,
	&:focus,
	&:active {
		color: $hover-link-color;
	}
}
p a:focus {
  outline: none;
  background-color: lighten($hover-link-color, 30);
}
.entry-content p a:not(.btn):not(.button):not([class*="slide"]):not(.salient-tab-label), .entry-content li:not(.menu-item) a:not(.btn):not(.button):not([class*="slide"]):not(.salient-tab-label):not(.wp-block-button__link):not(.salient-button ) {
	text-decoration: underline dotted;

	&:hover {
		text-decoration: underline solid;
	}
}
