.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	@include center-block;
}

.no-padding {
	padding: 0 !important;
}
section.no-padding .sub-section0 {
  padding: 0 !important;
}

#main {
	.one-wide {
		@include one-column;
	}
	.two-wide {
		@include one-half;
	}
	.three-wide {
		@include one-third;
	}
	.four-wide {
		@include one-quarter;
	}
	.two-thirds {
		@include two-thirds-nom;
	}
	.one-third {
		@include one-third-nom;
	}
}
