/*
Article Hero
*/

.hero {
  background: #004280;
  background-size: cover;
  color: white;
  padding: 1em 0;

  
  @include media(min-width $nav-breakpoint-value) {
    padding: 5em 0 1em;
  }
  @include media($xl-screen) {
    padding: 6em 0 3em;
  }
  &.light {
    color: $base-color-dark;
  }
  #breadcrumbs {
    font-size: .7em;
    padding-bottom: 1em;
    a {
      color: white;
      font-weight: 700;
    }
  }
  a {
    color: $base-color-light;
  }
  .block {
    @include one-half;
    
    &.boxed {
      background: rgba($base-font-color, .7);
      padding: 2em;
    }
  }
  h2.b-title {
    margin-top: 0;
    font-size: 1.8em;
    line-height: 100%;
  }
  p {
    line-height: 1.2em;
  }
  .cols-one .sub-section0 {
    @include two-thirds-nom;
  }
}