section.row > div.slides-container {
  transform: translateX(100%);
  position: absolute;
  background: white;
  width: 100%;
  top: 0;
  height: 100%;
  color: #004280;
  
  &:nth-child(4) {
    transform: translateX(200%);
  }
    &:nth-child(5) {
    transform: translateX(300%);
  }
  &:nth-child(6) {
    transform: translateX(400%);
  }
  &:nth-child(7) {
    transform: translateX(500%);
  }
}

.sub-slide, .slides-nav {
  @include outer-container;
  @include fill-parent;
}

.slides-container .sub-slide {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 900;
  transition: 250ms;
  transition-timing-function: ease-out;
  
  &.tab-widget__tab-content--active {
    opacity: 1;
    z-index: 1000;
}
}

.slides-container {
  margin-top: 10em;
  
  &.multi .sub-slide {
    padding-top: 4em;
  }
}

section.row {
  transition: .8s ease-in-out;
}
section.row.slide1 {
  transform: translateX(-100%);
}

section.row.slide2 {
  transform: translateX(-200%);
}

section.row.slide3 {
  transform: translateX(-300%);
}

section.row.slide4 {
  transform: translateX(-400%);
}

section.row.slide5 {
  transform: translateX(-500%);
}


section nav.slides-nav {
  padding-top: 2em;
  z-index: 1001;
  position: relative;
  
  ul {
    margin: 0;
    padding: 0;

    li {
      float: left;
      list-style-type: none;
      margin-right: 2em;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 2em 0 0;
    }
  }
  a {
    color: $blue;
  }
}