<div class="page" id="page">
	<div id="page" class="hfeed-site">
		{{> organisms-header }}
		<div id="content" class="site-content">
			<div id="primary" class="site-content">
				<div role="main">
					
					{{# emergency }}
						<div class="wrap">
							{{> molecules-alert:error }}
						</div>
						<!--.wrap-->
					{{/ emergency }}
					
					{{# hero }}
						{{> molecules-block-hero }}
					{{/ hero }}
					
					{{# content-blocks }}
					
						{{# 2-col }}
							{{> molecules-2-column-pagebuilder}}
						{{/ 2-col }}
					
						{{# 3-col }}
							{{> molecules-3-column-pagebuilder}}
						{{/ 3-col }}
					
					{{/ content-blocks }}


					<div class="wrap">
						<div class="g g-3up">
							{{# touts}}
							<div class="gi">
								{{> molecules-block-inset }}
							</div>
							{{/ touts}}
						</div>
						<!--end 3up-->
						<hr />

						<div class="l-two-col">
							<div class="l-main">
								<section class="section latest-posts">
									<h2 class="section-title">Latest Posts</h2>
									<ul class="post-list">
										{{# latest-posts }}
										<li>{{> molecules-media-block }}</li>
										{{/ latest-posts }}
									</ul>
									<a href="#" class="text-btn">View more posts</a>
								</section>
							</div>
							<!--end .l-main-->

							<div class="l-sidebar">
								{{> organisms-recent-tweets }}
							</div>
							<!--end .l-sidebar-->
						</div>
						<!--end .l-two-col-->
					</div>
					<!--.wrap-->
				</div>
				<!--End role=main-->
			</div>
			<!--#content-->
		</div>
		<!--#content-->
	</div>
	<!--#page-->
	{{> organisms-footer }}
</div>