<div class="single-post" id="page">
  {{> organisms-header }}
  <div id="content" class="site-conent">  
    <div id="primary" class="content-area">
      <main class="site-main" role="main">
        <article>
          <header class="entry-header hero">
            <div class="wrap">
              {{> molecules-breadcrumbs }}
              <h1>Article Headline Lorem ipsum dolor sit aweofij</h1> 
              {{> molecules-byline }}
            </div>
          </header>
          <!--header.hero-->
          
          <div class="wrap">
            <section class="entry-content">
                {{> organisms-article-body }}
            </section>
            <!--section.entry-content-->
          

            <section class="share">
              {{> molecules-social-share }} 
            </section>
            
            <footer>
              {{> molecules-postmeta }}
            </footer>
            {{> organisms-comment-thread }}
            
          </div>
          <!--.wrap-->
        </article>
        <!--article-->

      </main>
      <!--End #main-->
      {{> organisms-footer }}
    </div>
    <!--#primary-->
  </div><!--#content-->
</div>