<div class="page" id="page">
  {{> organisms-header }}
  <div id="content" class="site-conent">  
    <div id="primary" class="content-area">
      <main class="site-main" role="main">
        <article>
          <header class="hero">
            <div class="wrap">
              {{> molecules-breadcrumbs }}
              <h1>Article Headline Lorem ipsum dolor sit aweofij</h1> 
              {{> molecules-byline }}
            </div>
          </header>
        <!--header.hero-->
          <section class="fifty-fifty">
            <div class="wrap">
              <div class="sub-section0">
                {{> organisms-article-body }}
              </div>
              <!--.sub-section0-->
              <div class="sub-section1">

              </div>
              <!--.sub-section1-->
            </div>
            <!--.wrap-->
          </section>
          <!--section.fifty-fifty-->
          <section class="share">
            {{> molecules-social-share }} 
          </section>
          <footer>
            {{> molecules-postmeta }}
          </footer>
          <section class="comments">
            {{> organisms-comment-thread }}
          </section>
        </article>
        <!--article-->

      </main>
      <!--End #main-->
      {{> organisms-footer }}
    </div>
    <!--#primary-->
  </div><!--#content-->
</div>