<section class="row section-a two-column-5050" style="background-image:url('{{ img.landscape-16x9.src }}');"> 
              
              <div class="wrap">
                <h2 class="section-title">{{ headline.short }}</h2>
                                
                <div class="sub-section0">
                  {{> atoms-paragraph }}
                </div><!--.sub-section0-->
                    
                <div class="sub-section1">
                  {{> atoms-landscape}}
                </div><!--.sub-section1-->

              </div><!--.wrap-->
            
            </section>