<section class="row section-a two-column-5050" style="background-image:url('{{ img.landscape-16x9.src }}');"> 
              
              <div class="wrap">
                <h2 class="section-title">{{ headline.short }}</h2>
                                
                <div class="sub-section0">
                  {{> atoms-paragraph }}
                </div><!--.sub-section0-->
                    
                <div class="sub-section1">
                  <div style="position: relative; max-width: 700px; margin: 0px auto; text-align: center;"><iframe class="wistia_embed" src="//fast.wistia.net/embed/iframe/ixa5965gmm?videoFoam=true" name="wistia_embed" width="420" height="236" frameborder="0" scrolling="no" allowfullscreen="allowfullscreen"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js"></script></div>
                </div><!--.sub-section1-->

              </div><!--.wrap-->
            
            </section>