.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

aside#left-sidebar {
	margin-top:2em;
	
	ul.menu > li {
		font-weight: 700;
		margin-bottom: 1.25em;
		line-height: 1em;
		font-weight:400;
		font-size:.8em;
	}
}

.widget_nav_menu ul ul {
  margin-left: 1em;
  
  li {
    list-style-type: disc;
  }
  
}
#secondary li {
  margin-bottom: .5em;
}

.sidebar-cta {
  padding: 0.5em 0 0 0;
  text-align: center;
}

aside .textwidget {
  font-size: .8em;
  
  h3 {
    font-size: 1.2em;
  }
}