.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

ol.comment-list,
ol.children {
  margin: 0;
}

li.comment {
  list-style: none;
  clear: both;
  background: rgba(255, 255, 255, 0.7686274509803922);
  padding: 1em;
  margin: .5em;
  box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.25882352941176473);
}

.comment-author.vcard img {
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 1em;
}

.comment-content {
  float: left;
  width: calc(100% - 64px - 1em);
  margin-left: calc(64px + 1em);
}

footer.comment-meta {
  width: 100%;
  display: flex;
  clear: both;
  flex-direction: column-reverse;
}

.comment-metadata {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}