/* Scss Document */

header#masthead {
  width: 100%;
  background: $blue;
  position: relative;
  height: 70px;
  z-index: 9999;
  box-shadow:0 0 18px rgba(68, 69, 71, 0.19);
  top: 0;
  transition: 200ms;
  @include clearfix;

  @include media(min-width $nav-breakpoint-value) {
    @include transparent-background($blue,.8);
    height: 110px;
    position: absolute;

    .dark-header & {
      background: rgba(21,21,21,.75);
    }
  }
  @include media(max-height em(479px) orientation landscape) {
    //position: absolute;
  }

  &.has-header-banner {
    @include media(min-width 1001px) {
      transform: translateY(90px);
    }
  }

  &.narrow-header {
    height: 67px;
    @include media(max-width $nav-breakpoint-value) {
      #site-navigation button.menu-toggle {
        transform: translateY(-13px);
      }
      #site-navigation > div {
        transform: translateY(-33px);
      }
    }
    #site-navigation > div > ul > li > a {
      padding: 20px 22px;
    }
    h1.site-title,h2.site-description {
      transform: translateY(-13px);
    }
  }
  .wrap {
    @include outer-container;
    position: relative;
    padding-top: .5em;
    @include media(max-width $nav-breakpoint-value) {
      padding: 0;
      width: 100%;
    }
    .site-branding {
      @include span-columns(3);
      @media screen and (max-width: $nav-breakpoint-value) {
        width: 90%;
        margin: 0;
        height: 60px;
      }
      @include media(min-width $second-breakpoint-value) {
        height: 70px;
      }
      @include media(min-width $nav-breakpoint-value) {
        @include span-columns(4);
      }
      a[href*="salienthhs"], a[href*="salient-aco"] {
        @include media(min-width $nav-breakpoint-value) {
          width: 300px !important;
        }
      }
      h1 {
        transition: 200ms;
        margin-top: 0;
        @include media(max-width $second-breakpoint-value) {
          width: 80%;
        }
        @include media(min-width 900px max-width 1275px) {
          margin-left:.2em;
        }
        a {
          //background-image: url("./assets/images/salient-healthcare.png");
          display: block;
          position: relative;
          background-repeat: no-repeat;
          padding: 0;
          background-size: contain;
          height: 70px;
          font-size: 0;
          width: 100%;
          transition: 200ms;
          background-size: contain;
          background-position: left top;
          @include hidpi(2) {
            //background-image: url("./assets/images/salient-healthcare.png");
          }
          @include media(max-width $nav-breakpoint-value) {
            margin-top:15px;
            margin-left:15px;
            height:39px;
          }
          @include media(min-width $nav-breakpoint-value) {
            margin-top: 10px;
            background-position: center center;
          }
        }
      }
      h2 {
        font-size: .7em;
        color: $white;
        text-align: center;
        transition: 200ms;
        @include media(max-width $second-breakpoint-value) {
          position: absolute;
          left: 10px;
          br {
            display: none;
          }
        }
        @include media(min-width $nav-breakpoint-value) {
          position: absolute;
          left: 184px;
          top: 23px;
          color:$blue;
        }
      }
    }
    nav#site-navigation {
      @include omega();

      @include media(min-width ( $nav-breakpoint-value + 1 ) ) {
        float: right;
      }
      @include media(max-width $nav-breakpoint-value ) {
        position: relative;
        left: -3px;
        top: 0;
        width: 100%;
        height: 2px;
      }
      > div {
        @include media(min-width ( $nav-breakpoint-value + 1 ) ) {
          float: right;
        }
        @include media(max-width $nav-breakpoint-value ) {
          position: relative;
          top: 0;
          left: -3px;
          width: 100%;
          > ul {
            &.collapse.in {
              height: auto;
            }
          }
        }
        @include media(max-width $nav-breakpoint-value) {
          float: none;
          position: relative;
          top: 10px;
          left: 0;
          display: inline-block;
          width: 100%;
        }
        > ul {
          @include fill-parent;
        }
      }
    }
  }

}
#page.has-secondary {
  #masthead {
    @include media(min-width ( $nav-breakpoint-value - 1 ) ) {
      height: 160px;
    }
    div.wrap {
      @include media(min-width  ( $nav-breakpoint-value - 1 ) ) {
        margin-top: 40px;
      }
    }
  }
  .hero {
    @include media(min-width  ( $nav-breakpoint-value - 1 ) ) {
      padding-top: 9em;
    }
  }
}

.toggled header#masthead {
  height: auto;
}

body.admin-bar header#masthead {
  @include media(min-width ($nav-breakpoint-value - 1 ) ) {
    top: 28px;
    &.has-header-banner {
      top: 0;
    }
  }
}

.header-banner {
  clear: both;
  height: 90px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  p:last-child {
    margin-bottom: 0;
  }

  @include media(max-width 1000px) {
    background-size: cover;
    height: auto;
    padding: 1em;
    text-align: center;
  }

  .idea-con-logo {
    position: absolute;
    left: 1em;
    top: 8px;
    max-width: 564px;

    @include media(max-width 1400px) {
      top: 18px;
      max-width: 400px;
    }
    @include media(max-width 1200px) {
      max-width: 300px;
    }
    @include media(max-width 1000px) {
      left: auto;
      margin: 0 auto;
      position: relative;
    }
  }

  .idea-con-date {
    color: white;
    position: absolute;
    left: 39%;
    font-size: 1.75em;
    font-weight: 700;
    top: 29px;

    @include media(max-width 1600px) {
      font-size: 1.25em;
      left: 43%;
    }
    @include media(max-width 1400px) {
      left: 37%;
    }
    @include media(max-width 1275px) {
      top: 32px;
    }
    @include media(max-width 1200px) {
      left: 33%;
      top: 27px;
    }
    @include media(max-width 1000px) {
      left: auto;
      text-align: center;
      margin: 0 auto;
      position: relative;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
  .idea-con-register a {
    position: absolute;
    right: 10px;
    top: 13px;
    padding: .35em 2em;
    background-color: rgba(0, 185, 235, 0.47);
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    @include media(max-width 1275px) {
      font-size: 1.25em;
      padding: .35em 1em;
    }
    @include media(max-width 1000px) {
      margin: 0 auto;
      position: relative;
      text-align: center;
      right: auto;
      display: block;
      max-width: 258px;
      top: 40px;
    }
  }
}

p.tagline {
  text-indent: 0;
  position: absolute;
  top: 44px;
  left: 40px;
  color: white;
  font-size: .75em;

  @include media(min-width 375px) {
    top: 48px;
    left: 50px;
  }
  @include media(min-width 400px) {
    left: 53px;
  }
  @include media(min-width 530px) {
    top: 52px;
    left: 60px;
  }
  @include media(min-width 560px) {
    left: 65px;
  }
  @include media(min-width 750px) {
    top: 58px;
    left: 63px;
  }
  @include media(min-width 900px) {
    top: 57px;
    left: 76px;
  }
  @include media(min-width 1000px) {
    top: 74px;
    left: 49px;
  }
  @include media(min-width 1000px) {
    top: 76px;
    left: 53px;
  }
  @include media(min-width $nav-breakpoint-value) {
    top: 75px;
    left: 50px;
  }
  @include media(max-width 285px) {
    display: none;
  }
}