.page section {
  a {}
  &[class*="section-"] .wrap {}
}

section.section-a {
  background-color: #004280;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  position: relative;
  width: 100%;
  color: $white;
  @include media(min-width $nav-breakpoint-value) {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  @include media($xl-screen) {
    height: 60vh;
  }
  @include media(min-width 1600px) {
    height: 60vh;
  }
  p {
    font-size: 1.2em;
  }
  .wrap {
    opacity: 1;
    @include media(max-width $nav-breakpoint-value) {
      padding: 3em 1em;
    }
    @include media(min-width $nav-breakpoint-value) {
      .sub-section0,
      .sub-section1,
      .sub-section2 {
        padding:1em;
      }
    }
  }
  &.boxed .wrap {
    @include media(max-width $nav-breakpoint-value) {
      padding:0;
    }
  }
  .left-block {
    @include one-half;
    h2 {
      font-size: 1.25em;
      position: relative;
      z-index: 99;
      span {
        font-weight: 700;
      }
    }
  }
  .right-block {
    @include one-half;
  }
  .video {
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 0 !important;
  }
  .video video {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: 0 !important;
    display: block;
    opacity: 0.14;
    z-index: 0;
    position: relative;
  }
  h3 {
    clear: both;
    text-align: center;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 1.25em;
    bottom: 0;
    width: 100%;
    left: 0;
    margin: 0;
  }
  h1,
  h2,
  h3,
  li {}
  ul {
    max-width: 474px;
    text-align: left;
    margin: 1em auto;
    @include media($xl-screen) {
      max-width: 630px;
      li {
        font-size: 1.1em;
      }
    }
  }
  #intro h2 {
    max-width: 905px;
    margin-top: 1em;
  }
}
section#improve-overall-population {
  background-position: center top;
}
section#monitor, section#fair-share {
  height: 40vh;
  .sub-section1 p {
    text-align: center;
    
    img {
      width:70%;
    }
  }
}
section#improve-population-health .sub-section0 {
  @include media(min-width $nav-breakpoint-value){
    width:35%
  }
}
section#features {
  text-shadow: 1px 1px 3px $dark-gray;
  background-size: cover;
  background-position: center center;
  padding: 4em 0 4em;
  
  @include media(min-width 500px) {}
  h4 {
    margin-top: 2em;
    margin-bottom: 0;
    &:first-child {
      margin-top: 0;
    }
  }
  &__title {
    max-height:300px;
  }
  &__turnkey, &__scale, &__dashboards, &__realtime, &__mobile {
    height:40vh;
  }
  &__security {
    background-position: center top;
  }
}
section#about__title {
  max-height: 500px;
}