.home section.row {
  @include media(min-width $second-breakpoint-value) {
    height: 86vh;
  }
  &.light-text .sub-section0 {
    text-shadow: 1px 1px 8px rgba(0,0,0,.5);

    p {
      text-shadow: 1px 1px 15px rgba(0,0,0,1);
    }
  }
  .fifty-fifty .sub-section1 {
    margin-right: 0;
  }
}

#intro .button {
  background: #004280;
  font-size: 1.2em;
  border: 2px solid rgba(255,255,255,.8);
  margin: 1em 0;
  
  &:hover {
    background: darken(#004280, 10);
  }
}

section#hero {
  padding: 0;
  
  a.button.blue {
    font-size: 1em;
  }
  
  h1 {
    font-size: 1.35em;
  }
  
  @media screen and (min-width: $first-breakpoint-value) {
    padding: 1em 0 1em;
  }
  
  @media screen and (min-width: $second-breakpoint-value) {
    padding: 5em 0 2em;
  }
  
  @media screen and (min-width: $third-breakpoint-value) {
    padding: 8em 0 7em;
    font-size: 1.2em;
  }
<<<<<<< HEAD

=======
>>>>>>> a829d10725f2f11a73424ff7015cac8b3f1d6134
}

section#value-line {
  padding: 3em 0 0;
  text-align: center;
  
  .sub-section0 {
    padding: 0;
  }
}

#slide1a {
  position: relative;
  z-index: 10;
  @include media(min-width $nav-breakpoint-value) {
    padding-top: 13em;
    padding-bottom: 1em;
    margin-bottom: -10em;
  }
  
  .logo {
    padding: 0;
    box-shadow: none;
  }
  .sub-section1 {
    text-align: center;
    
    .btn {
      margin-top: 1em;
    }
  }
}

#slide1 {
  background-color: $white;
  @include media(min-width $second-breakpoint-value) {
    padding-top: 4em;
    
    .wrap {
      margin-top: 4em;
    }
  }

  @include media(min-width $nav-breakpoint-value) {
    padding-top: 8em;
    height: 115vh;
  }
  .bkg {
    @include media(min-width 600px) {
      margin-top: 19vh;
    }
    height: 115vh;
    @include media(orientation portrait min-height ems(600px)) {
      height: 72vh;
    }
  }

  h2.section-title {
    margin-bottom: 4em;
  }
  h3 {
    font-size: 1.5em;
    @include media(min-width $second-breakpoint-value) {
      font-size: 2.1em;
    }
  }
  p {
    @include media(min-width $second-breakpoint-value) { 
      font-size: 1.2em;
    }
  }
  nav.sub-slide-navigation {
    bottom: 350px;
  }
}

#slide2 {
  z-index: 1000;
  
  .wrap {
    position: relative;
    z-index: 100;
  }
  
  h3 {
    font-size: 1.5em;
    
    @include media(min-width $second-breakpoint-value) {
      font-size: 2.4em;
    }
  }
  
  p {
    @include media(min-width $second-breakpoint-value) {
      font-size: 1.2em;
    }
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    z-index: 0;
    background: #000;
    z-index: 10;
  }
}

#slide3 {
  z-index: 800;
  position: relative;
  @include media(min-width $second-breakpoint-value) {
    height: 70vh;
  }
  
  .wrap {
    position: relative;
    z-index: 100;
    @include media(min-width $second-breakpoint-value) {
      padding-top: 10vh;
    }

  }
  .bkg {
    height: 100vh;
    
    @include media(min-width 680px) {
      height: 67vw;
    }
    
    @include media(min-width $second-breakpoint-value) {
      height: 110vh;
    }
    @include media(min-height 600px) {
      height: 100vh;
    }
  }

  h3 {
    font-size: 1.5em;
    @include media(min-width $second-breakpoint-value) {
      font-size: 2.4em;
    }
  }
  p {
    @include media(min-width $second-breakpoint-value) {
      font-size: 1.3em;
    }
  }
  &:before {
    background: #000;
    z-index: 10;
  }
  .sub-section1 {
    padding: 0em 4em 2em 2em;
    @include media(min-width $second-breakpoint-value) {
      padding: 3em 12em 2em 2em;
    }
  }
}

#slide4 {
  z-index: 801;
  .wrap {
    position: relative;
    z-index: 100;
    @include media(min-width $second-breakpoint-value) {
      margin-top: 4em;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7;
    z-index: 0;
    background: #000;
    z-index: 10;
    @include media(min-width $second-breakpoint-value) {
      opacity: .5;
    }
  }
  h3 {
    font-size: 1.5em;
    @include media(min-width $second-breakpoint-value) {
      font-size: 2.2em;
    }
  }
  p {
    @include media(min-width $second-breakpoint-value) {
      font-size: 1.2em;
    }
  }
  .bkg {
    height: 100vh;
  }
}

#home-quote {
  z-index: 802;
  position: relative;
  height: auto;
  font-size: 1.2em;
  @include media(min-width $second-breakpoint-value) {

  }
  
  blockquote {
    border: none;
    padding-left: 0;
    font-size: 1.2em;
    
    @include media(min-width $second-breakpoint-value) {
      text-indent:0;
      font-size: 1.5em;
    }

    @include media(min-width $second-breakpoint-value) {
      margin-left: 1.8em;
    }
    
    &:before {
      display: block;
      font-size: 4em;
      margin: 0;
      position: relative;
      top: 56px;
      left: -48px;     
      z-index: 10;
      opacity: .3;
      margin-top: -75px;
      
      @include media(min-width $second-breakpoint-value) {
        top: 75px;
        left: -75px;
      }
    }
  }
}

#stories {
  z-index: 803;
  
  .sub-section0 {
    @include media($large-screen) {
      @include span-columns(8);
    }
    h3 {
      font-size: 2.4em;
    }
    
    p {
      font-size: 1.2em;
    }
    @include media($large-screen) { padding-right: 2em; }
    @include media($xl-screen) { padding-right: 6em; }
  }
  .boxed .boxed {
    padding: 0;
  }
  .sub-section1 {
    margin-top: 2em;
    padding: 1em;
    @include media($large-screen) {
      @include span-columns(8);
    }
  }
  .customer-story {
    text-align: center;
    margin-bottom: 2em;
    font-size: .8em;
  }
}

section#clients-slider {
  z-index: 804;
  background: white;
  text-align: center;
  font-size: 1.2em;
  height: auto;
  
  p {
    max-width: 688px;
  }
  
  .logo-carousel div {
    display: none;
  }
}