.home section.row {
  height: 86vh;
}

section#hero {
  padding: 0;
  
  a.button.blue {
    font-size: 1em;
  }
  
  h1 {
    font-size: 1.35em;
  }
  
  @media screen and (min-width: $first-breakpoint-value) {
    padding: 1em 0 1em;
  }
  
  @media screen and (min-width: $second-breakpoint-value) {
    padding: 5em 0 2em;
  }
  
  @media screen and (min-width: $third-breakpoint-value) {
    padding: 8em 0 7em;
    font-size: 1.2em;
  }
}

section#value-line {
  padding: 3em 0 0;
  text-align: center;
  
  .sub-section0 {
    padding: 0;
  }
}