/* Scss Document */

main#main {
  overflow: hidden;

  section {
    @include media(max-width $nav-breakpoint-value) {
      padding-top: 1em;
    }
  }
}

main section:first-child {
  @include media(min-width $second-breakpoint-value) {
    padding-top: 87px;

    .has-secondary-nav & {
      padding-top: 110px;
    }
  }
}

div#content {
  z-index: 800;
  position: relative;
  @include media(min-width $first-breakpoint-value) {}
}

div.wrap {
  position: relative;
  @include outer-container;
  @include fill-parent;
  height: 100%;
  @include clearfix;
}

.fixed {
  background-attachment: fixed !important;
}

.above-fixed {
  z-index: 10;
  transform: translateZ(0);
}

.cover {
  background-size: cover !important;
}

.spacer {
  margin: 1em 0;
}
.boxed {
  @include transparent-background(rgba($base-color-dark, .3));
  padding: 2em;
}
