.sticky {
  display: block;
}


.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}


/* Pages */
.page article {
  header.entry-header {
    color: $base-font-color-light;
    h1 {
      margin-bottom: 1em;
    }
  }
  .entry-content {
	padding: 1.5em 0;
    margin-bottom: 1em;
    
    h2 {
      margin-top: 1em;
    }
  }
  footer {
    @include span-columns(8);
    @include shift(2);
  }
}

h1.entry-title {
  z-index: 10;
  position: relative;
  font-size: 2.5em;
}



/*
Section Rows
*/

.page section {
  @include media(min-width $second-breakpoint-value) { 
    padding: 2em 0; 
  }
  &[class*="section-"] .wrap {}
}


/* Blog Feed */
.blog, .archive {
  main > .wrap {
    margin-top: 2em;
    &.flex-wrap {
      display: flex;
      flex-wrap: wrap;
    }
  }
  #content nav.post-navigation {
    @include outer-container;
    @include fill-parent;
    margin: 1em auto;
    
    .nav-previous {
      float: left;
    }
    .nav-next {
      float: right;
    }
  }
  .category-link a {
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
  }
  article {
    float: left;
    @include one-half;
    font-size: 1em;
    border: 1px solid #000;
    padding: 2em;
    margin-top: .5em;
    margin-bottom: .5em;
    background: $white;
    
    /*&:nth-child(even) {
      background: lighten($base-background-color, 5);
      border-bottom: 1px solid darken($base-background-color,10);
      border-top: 1px solid darken($base-background-color,10);
    } */
    h1 {
      font-size: 1.5em;
      margin-top: 0;
	}
    
    .entry-footer {
      font-size: .75em;
    }
  }
}





/*
Single Post
*/

.single-post {
  .entry-content {
    padding: 2em 0;
  }
  .hero {
    background-size: cover;
    background-position: center 20%;
    width: 100%;
    height: 87vh;
    
    @include media(min-height ems(800px)) {
      height: 60vh;
    }
    
    h1 {
      padding: 2em 0 .75em;
    }
    
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 66, 128, 0.68);
      height: 87vh;
    
      @include media(min-height ems(800px)) {
        height: 60vh;
      }
    }
    .byline {
      position: relative;
      z-index: 1000;
    }
  }
  .featured-image {
    margin-bottom: 2em;
  }

  .post-navigation,
  #comments {
    @include span-columns(8);
    @include shift(2);
    @include omega;
    @include clearfix;
  }
  .post-navigation {
    margin-top: 2em;
  }
  article {
    .text-block,
    .featured-image,
    .social-share,
    footer {
      @include span-columns(8);
      @include shift(2);
      @include omega;
      @include clearfix;
    }
    .image-block {
      display: table;
      @include span-columns(12);
      
      img {
        width: 100%;
      }
      .text {
        display: table-cell;
        vertical-align: center;
      }
    }
    .entry-title, .byline {
      text-align: center;
    }
  }
  header .byline {
    display: block;
  }
  table td {
    border: 1px solid;
    padding: .5em;
    background: rgba(255, 255, 255, 0.63);
  }
}


/* 
Article Footer
*/

footer.entry-footer {
  background: white;
  padding: 1em;
  border: 1px solid #D2D2D2;
  span {
    display: inline-block;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}