.sticky {
  display: block;
}


.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}


/* Pages */
.page article .entry-content {
	padding: 1.5em 0;
}

h1.entry-title {
  z-index: 10;
  position: relative;
  font-size: 2.5em;
}



/*
Section Rows
*/

.page section {
  padding: 2em 0;
  a {}
  &[class*="section-"] .wrap {}
}


/* Blog Feed */
.blog, .archive {
  main > .wrap {
    margin-top: 2em;
  }
  article {
    float: left;
    width: 48%;
    font-size: 1em;
    border: 1px solid #000;
    margin-right: 2%;
    padding: 2em;
    margin-top: .5em;
    margin-bottom: .5em;
    background: $white;
    
    /*&:nth-child(even) {
      background: lighten($base-background-color, 5);
      border-bottom: 1px solid darken($base-background-color,10);
      border-top: 1px solid darken($base-background-color,10);
    } */
    h1 {
      font-size: 1.5em;
	}
    
    .entry-footer {
      font-size: .75em;
    }
  }
}



/*
Single Post
*/

.single-post {
  .entry-content {
    padding: 2em 0;
  }
  article {
    .text-block,
    .featured-image,
    .social-share,
    footer,
    .comments {
      @include span-columns(8);
      @include shift(2);
      @include omega;
      @include clearfix;
    }
    .image-block {
      display: table;
      @include span-columns(12);
      
      img {
        width: 100%;
      }
      .text {
        display: table-cell;
        vertical-align: center;
      }
    }
  }	
  table td {
    border: 1px solid;
    padding: .5em;
    background: rgba(255, 255, 255, 0.63);
  }
}


/* 
Article Footer
*/

footer.entry-footer {
  background: white;
  padding: 1em;
  border: 1px solid #D2D2D2;
  span {
    display: inline-block;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}